* {
  box-sizing: border-box;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(rgba(120, 90, 60, 0.55), rgba(120, 90, 60, 0.55)),
    url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page {
  max-width: 800px;
  width: 100%;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

main {
  padding: 0;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}

footer {
  color: #F0E8C2;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}

@media (max-width: 600px) {

  body {
    padding: 16px;
  }

  #page {
    padding: 20px;
    margin: 0;
  }

  h1 {
    font-size: 28px;
  }

}